Source: ros-groovy-jsk-rviz-plugins
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-rviz
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-jsk-rviz-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-rviz
Description: The jsk_rviz_plugins package
